{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/video.css') }}">
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <a href="/vid2">
        <div class="modal-dialog modal-fullscreen-sm-down">

            <video id="videoPlayer" class="img-fluid" autoplay muted loop playsinline>
                <source src="{{ asset('img/video/vid1.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </a>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const video = document.getElementById("videoPlayer");

            // Attempt to play the video in case autoplay is blocked
            video.play().catch(error => {
                console.log("Autoplay was blocked. User interaction may be required.");
            });
        });

        document.addEventListener("click", function () {
            window.location.href = "{{ path('app_vid2') }}";

        });
    </script>
{% endblock %}
