{% extends 'base.html.twig' %}

{% block title %}Hello MainpageController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <body>

    <header>
        <div class="header">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center  py-3">
                    <div>
                            <img class="img-logo" src="{{ asset('img/logo.png') }}" alt="">
                    </div>

                </div>
            </div>
        </div>
    </header>


    <main class="bg-white">
        <div class="container-fluid">
            <div class="d-flex flex-column justify-content-center align-items-center p-5 m-5 ">
                <h1 class="head-text text-black pt-5 mt-5">THANK YOU FOR YOUR ORDER!</h1>
                <br>
                <h3 class="text-black mt-3 text-center">
                    Dear Customer, thank you for placing your order! We're preparing it with care, and you can expect
                    your delivery to arrive within 45 minutes to 1 hour. In the meantime, you'll be redirected to our
                    website shortly.
                    <br><br>
                    We truly appreciate your business and look forward to serving you again soon!
                </h3>
            </div>
        </div>
    </main>

    </body>

    <script>
        // Redirect after 10 seconds
        setTimeout(function() {
            window.location.href = "{{ path('app_mainpage') }}";
        }, 10000);
    </script>
{% endblock %}
